venv/
backend/venv
.env
backend/.env
.flutter-plugins
backend/__pycache__

flutter/
flutter/**
flutter

frontend/android/app/src/main/AndroidManifest.xml
frontend/ios/Runner/AppDelegate.swift

backend/credentials